In [6]:
import tensorflow as tf
import pandas as pd
df = pd.read_csv("Bias_correction_ucl.csv")

,station,Date,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
0,1.0,2013-06-30,28.7,21.4,58.255688,91.116364,28.074101,23.006936,6.818887,69.451805,...,0.0,0.0,0.0,37.6046,126.991,212.3350,2.7850,5992.895996,29.1,21.2
1,2.0,2013-06-30,31.9,21.6,52.263397,90.604721,29.850689,24.035009,5.691890,51.937448,...,0.0,0.0,0.0,37.6046,127.032,44.7624,0.5141,5869.312500,30.5,22.5
2,3.0,2013-06-30,31.6,23.3,48.690479,83.973587,30.091292,24.565633,6.138224,20.573050,...,0.0,0.0,0.0,37.5776,127.058,33.3068,0.2661,5863.555664,31.1,23.9
3,4.0,2013-06-30,32.0,23.4,58.239788,96.483688,29.704629,23.326177,5.650050,65.727144,...,0.0,0.0,0.0,37.6450,127.022,45.7160,2.5348,5856.964844,31.7,24.3
4,5.0,2013-06-30,31.4,21.9,56.174095,90.155128,29.113934,23.486480,5.735004,107.965535,...,0.0,0.0,0.0,37.5507,127.135,35.0380,0.5055,5859.552246,31.2,22.5

In [7]:
df.drop('Date', inplace=True, axis=1)

In [8]:
df.dropna(inplace=True)

In [10]:
df

,station,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,LDAPS_CC1,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
0,1.0,28.7,21.4,58.255688,91.116364,28.074101,23.006936,6.818887,69.451805,0.233947,...,0.0,0.0,0.0,37.6046,126.991,212.3350,2.7850,5992.895996,29.1,21.2
1,2.0,31.9,21.6,52.263397,90.604721,29.850689,24.035009,5.691890,51.937448,0.225508,...,0.0,0.0,0.0,37.6046,127.032,44.7624,0.5141,5869.312500,30.5,22.5
2,3.0,31.6,23.3,48.690479,83.973587,30.091292,24.565633,6.138224,20.573050,0.209344,...,0.0,0.0,0.0,37.5776,127.058,33.3068,0.2661,5863.555664,31.1,23.9
3,4.0,32.0,23.4,58.239788,96.483688,29.704629,23.326177,5.650050,65.727144,0.216372,...,0.0,0.0,0.0,37.6450,127.022,45.7160,2.5348,5856.964844,31.7,24.3
4,5.0,31.4,21.9,56.174095,90.155128,29.113934,23.486480,5.735004,107.965535,0.151407,...,0.0,0.0,0.0,37.5507,127.135,35.0380,0.5055,5859.552246,31.2,22.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7745,21.0,23.1,17.8,24.688997,78.261383,27.812697,18.303014,6.603253,9.614074,0.052902,...,0.0,0.0,0.0,37.5507,127.040,26.2980,0.5721,4456.024414,27.6,17.7
7746,22.0,22.5,17.4,30.094858,83.690018,26.704905,17.814038,5.768083,82.146707,0.066461,...,0.0,0.0,0.0,37.5102,127.086,21.9668,0.1332,4441.803711,28.0,17.1
7747,23.0,23.3,17.1,26.741310,78.869858,26.352081,18.775678,6.148918,72.058294,0.030034,...,0.0,0.0,0.0,37.5372,126.891,15.5876,0.1554,4443.313965,28.3,18.1
7748,24.0,23.3,17.7,24.040634,77.294975,27.010193,18.733519,6.542819,47.241457,0.035874,...,0.0,0.0,0.0,37.5237,126.909,17.2956,0.2223,4438.373535,28.6,18.8
7749,25.0,23.2,17.4,22.933014,77.243744,27.939516,18.522965,7.289264,9.090034,0.048954,...,0.0,0.0,0.0,37.5237,126.970,19.5844,0.2713,4451.345215,27.8,17.4

In [11]:
target=df[['Next_Tmax', 'Next_Tmin']]
features= df.drop(['Next_Tmax', 'Next_Tmin'], axis=1)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [12]:
feature_array = scaler.fit_transform(features)
features = pd.DataFrame(feature_array, columns = features.columns)

In [14]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.InputLayer(input_shape=(features.shape[1],), name="input_layer"))
model.add(tf.keras.layers.Dense(2, name='Output_layer'))

In [15]:
model.compile(tf.optimizers.RMSprop(0.001), loss='mse')

In [16]:
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir="./logs")

In [17]:
model.fit(x=features.to_numpy(), y=target.to_numpy(), epochs=50, callbacks=[tensorboard_callback])

Epoch 1/50
238/238 [==============================] - 1s 2ms/step - loss: 650.9042
Epoch 2/50
238/238 [==============================] - 0s 2ms/step - loss: 548.2054
Epoch 3/50
238/238 [==============================] - 0s 2ms/step - loss: 455.2613
Epoch 4/50
238/238 [==============================] - 0s 2ms/step - loss: 371.8606
Epoch 5/50
238/238 [==============================] - 0s 2ms/step - loss: 297.9100
Epoch 6/50
238/238 [==============================] - 0s 2ms/step - loss: 233.6704
Epoch 7/50
238/238 [==============================] - 0s 2ms/step - loss: 178.9643
Epoch 8/50
238/238 [==============================] - 0s 2ms/step - loss: 133.9031
Epoch 9/50
238/238 [==============================] - 1s 2ms/step - loss: 98.3007
Epoch 10/50
238/238 [==============================] - 1s 3ms/step - loss: 71.8369
Epoch 11/50
238/238 [==============================] - 1s 3ms/step - loss: 52.5570
Epoch 12/50
238/238 [==============================] - 1s 3ms/step - loss: 38.7282
Epoch 13/50
238/238 [==============================] - 1s 3ms/step - loss: 29.5675
Epoch 14/50
238/238 [==============================] - 1s 2ms/step - loss: 24.1587
Epoch 15/50
238/238 [==============================] - 0s 2ms/step - loss: 21.0184
Epoch 16/50
238/238 [==============================] - 0s 2ms/step - loss: 18.8713
Epoch 17/50
238/238 [==============================] - 0s 2ms/step - loss: 17.1206
Epoch 18/50
238/238 [==============================] - 0s 2ms/step - loss: 15.5288
Epoch 19/50
238/238 [==============================] - 0s 2ms/step - loss: 14.0589
Epoch 20/50
238/238 [==============================] - 0s 2ms/step - loss: 12.7658
Epoch 21/50
238/238 [==============================] - 0s 2ms/step - loss: 11.6062
Epoch 22/50
238/238 [==============================] - 0s 2ms/step - loss: 10.5533
Epoch 23/50
238/238 [==============================] - 0s 2ms/step - loss: 9.6101
Epoch 24/50
238/238 [==============================] - 0s 2ms/step - loss: 8.7580
Epoch 25/50
238/238 [==============================] - 0s 2ms/step - loss: 8.0301
Epoch 26/50
238/238 [==============================] - 0s 2ms/step - loss: 7.3907
Epoch 27/50
238/238 [==============================] - 0s 2ms/step - loss: 6.8210
Epoch 28/50
238/238 [==============================] - 0s 2ms/step - loss: 6.3187
Epoch 29/50
238/238 [==============================] - 0s 2ms/step - loss: 5.8947
Epoch 30/50
238/238 [==============================] - 0s 2ms/step - loss: 5.5395
Epoch 31/50
238/238 [==============================] - 0s 2ms/step - loss: 5.2559
Epoch 32/50
238/238 [==============================] - 0s 2ms/step - loss: 5.0229
Epoch 33/50
238/238 [==============================] - 0s 2ms/step - loss: 4.8328
Epoch 34/50
238/238 [==============================] - 0s 2ms/step - loss: 4.6797
Epoch 35/50
238/238 [==============================] - 0s 2ms/step - loss: 4.5469
Epoch 36/50
238/238 [==============================] - 0s 2ms/step - loss: 4.4408
Epoch 37/50
238/238 [==============================] - 0s 2ms/step - loss: 4.3442
Epoch 38/50
238/238 [==============================] - 1s 2ms/step - loss: 4.2542
Epoch 39/50
238/238 [==============================] - 1s 3ms/step - loss: 4.1766
Epoch 40/50
238/238 [==============================] - 1s 2ms/step - loss: 4.1055
Epoch 41/50
238/238 [==============================] - 1s 3ms/step - loss: 4.0372
Epoch 42/50
238/238 [==============================] - 1s 2ms/step - loss: 3.9774
Epoch 43/50
238/238 [==============================] - 0s 2ms/step - loss: 3.9203
Epoch 44/50
238/238 [==============================] - 0s 2ms/step - loss: 3.8667
Epoch 45/50
238/238 [==============================] - 0s 2ms/step - loss: 3.8133
Epoch 46/50
238/238 [==============================] - 0s 2ms/step - loss: 3.7631
Epoch 47/50
238/238 [==============================] - 0s 2ms/step - loss: 3.7175
Epoch 48/50
238/238 [==============================] - 0s 2ms/step - loss: 3.6715
Epoch 49/50
238/238 [==============================] - 0s 2ms/step - loss: 3.6259
Epoch 50/50
238/238 [==============================] - 0s 2ms/step - loss: 3.5815

In [18]:
loss = model.evaluate(features.to_numpy(), target.to_numpy())
print('loss:',loss)

238/238 [==============================] - 0s 1ms/step - loss: 3.5576
loss: 3.5575780868530273